

.main {
	background-color: #9861CF; 
	border-radius: 15px;
	display: inline-block;
	width: 800px;
	text-align: left;

}

.rounded {
	border-radius: 15px;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	border: 6px solid white;
	padding-right: 10px;

}

.right {
	width: 500px;
	float: right;
	margin: 0 40px 0 20px;
}

.who-am-i {
	background-color: #8991FA;
}

.what-i-do {
	background-color: #89ADFA;
}

.find-me-at {
	background-color: #89CDFA;
}


body {
	font-family: Calibri, Helvetica, Sans-Serif;
	font-size: 18px;
	font-color: black;
	background-color: white;
	text-align: center;
}

.main img {
	border-radius: 15px;
	width:200px; 
    height: auto;
    float:left;
    margin-left: 20px;
    display: block;
    border: 6px solid white;


}

h1 {
	font-size: 40px;
	text-align: center;
}